nav {
  position: sticky;
  height: 70px;
  display: flex;
  justify-content: space-around;
  background-color: #f2f6fc;
  border-bottom: 1px solid #057fd0;
}

nav div {
  width: 33%;
  text-align: center;
  padding: 20px;
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  letter-spacing: 5px;
}

nav div:hover {
	background-color:#d9e9ff;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container h1 {
  padding: 20px;
  font-family: 'Gochi Hand', cursive;
  font-size: 70px;
  font-style: oblique;
  letter-spacing: 5px;
  color: #F76C6C;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -webkit-text-stroke: 0.1px black; /* width and color */

}

.main-container img {
  width: 650px;
}


input {
  border: 0px solid white;
  border-bottom: 1px solid #057fd0;
  width: 70%;
  height: 150px;
  font-family: 'Gochi Hand', cursive;
  font-size: 100px;
  letter-spacing: 5px;
}

button {
  font-family: 'Gochi Hand', cursive;
  font-size: 60px;
  height: 140px;
  letter-spacing: 5px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background-color: white;
  border: 0px solid white;
  border-right:1px solid #057fd0;
	border-bottom:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -2px 0px #019ad2;
}

button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}

button:active {
	position:relative;
	top:1px;
}


hr {
  border-bottom:1px solid #057fd0;
}

.full-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.count-value {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 200px;
}

.current-value {
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 70px;
}

.input-counter {
  width: 150px;
}